.cost-item-date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid white;
  background-color: blueviolet;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}
